body{
  font-family: 'Pavanam', sans-serif;
  margin: 0;
  padding: 0;
}
*{
 margin: 0;
 padding: 0;
}
#col-6-padding{
  padding: 0
}
.image_logo{
    position: absolute;
    width: 134px;
    height: auto;
    left: 40px;
    top: 50px;
}
.image_pic{
  position: absolute;
  width: 350px;
  height: auto;
  right: 10px;
  bottom: 10px;
}
.limiter{
  margin-top: 10%
}

.form-signin {
  max-width: 380px;
  padding: 25px 35px 45px;
  margin: 0 auto;
  background-color: #8CD6FF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  z-index: 2;
}
.form-signin h2{
  font-size: 19px;
  text-align: center;
  weight: normal;
}
.form-signin .form-signin-heading,
.form-signin {
  margin-bottom: 30px;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input, .form-signin button{
  margin-bottom: 30px;
  border-radius: 20px;
}

@media screen and (max-width: 1200px){
  .image_pic{
    z-index: -1;
  }
  .image_logo{
    top: 10px
  }
}
